.carousel-caption1 {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    TOP: 88PX;
    left: -36%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.heading{
    font-size: 3.5rem;
}

.card{
    align-items: center;
}
.card-img-top{
    width: 50%;
    height: 50%;
}
.green{
    text-decoration: none !important;
    color: black;
    font-size:small;
}
.green:hover{
    color:green;
}

.w-12{
    width: 14% !important;
}